/* Theme
-------------------------------------------------- */
/* line 17, ../sass/theme.scss */
a {
  color: #b9121b;
}
/* line 19, ../sass/theme.scss */
a:hover, a:visited {
  color: #730b11;
}

/* line 24, ../sass/theme.scss */
h2, h3, legend {
  color: #cccccc;
}

/* line 28, ../sass/theme.scss */
#sidebarList li a {
  background-color: #e1e1e1;
}
/* line 30, ../sass/theme.scss */
#sidebarList li a:hover {
  background-color: #bbbbbb;
}

/* line 34, ../sass/theme.scss */
.post-item {
  background-color: #e1e1e1;
  -webkit-box-shadow: black 2px 2px 10px;
  -moz-box-shadow: black 2px 2px 10px;
  box-shadow: black 2px 2px 10px;
}

/* line 40, ../sass/theme.scss */
.navbar a {
  cursor: pointer;
}
/* line 46, ../sass/theme.scss */
.navbar .navbar-inner {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b9121b), color-stop(30%, #8b0d14), color-stop(70%, #730b11), color-stop(100%, #5c090d));
  background-image: -webkit-linear-gradient(#b9121b, #8b0d14 30%, #730b11 70%, #5c090d);
  background-image: -moz-linear-gradient(#b9121b, #8b0d14 30%, #730b11 70%, #5c090d);
  background-image: -o-linear-gradient(#b9121b, #8b0d14 30%, #730b11 70%, #5c090d);
  background-image: -ms-linear-gradient(#b9121b, #8b0d14 30%, #730b11 70%, #5c090d);
  background-image: linear-gradient(#b9121b, #8b0d14 30%, #730b11 70%, #5c090d);
}

/* line 53, ../sass/theme.scss */
#subContent .accordion-heading {
  background-color: #999;
}
/* line 56, ../sass/theme.scss */
#subContent .accordion-body {
  background-color: #e1e1e1;
}
